[package]
name = "finder"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "f"
path = "src/main.rs"

[dependencies]
ratatui = "0.29"
crossterm = "0.28"
nucleo = "0.5"
ignore = "0.4"
unicode-width = "0.2"
dirs = "5.0"

[profile.release]
lto = true
codegen-units = 1
panic = "abort"
strip = true
